---
import { Image } from 'astro:assets'

import '../styles/globals.css'
import { Menu } from 'lucide-react'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Astro description'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body>
    <div class='flex flex-col min-h-screen bg-zinc-50 text-zinc-900'>
      <header class='px-2 bg-zinc-50 text-zinc-900 sticky top-0 z-50 border-b shadow-sm'>
        <div class='container mx-auto flex items-center justify-between gap-8 h-16'>
          <a
            class='flex items-center justify-center gap-2'
            href='#'
          >
            <span class='font-semibold text-xl uppercase'><span class="font-black text-primary-600">Novo</span>forma</span>
          </a>
          <nav class='ml-auto hidden gap-4 lg:flex'>
            <a
              class='text-sm font-medium hover:text-primary-500 transition-colors'
              href='#servicios'
            >
              Servicios
            </a>
            <a
              class='text-sm font-medium hover:text-primary-500 transition-colors'
              href='#galeria'
            >
              Galería
            </a>
            <a
              class='text-sm font-medium hover:text-primary-500 transition-colors'
              href='#nosotros'
            >
              Nosotros
            </a>
            <a
              class='text-sm font-medium hover:text-primary-500 transition-colors'
              href='#testimonios'
            >
              Testimonios
            </a>
            <a
              class='text-sm font-medium hover:text-primary-500 transition-colors'
              href='#contacto'
            >
              Contacto
            </a>
          </nav>
          <div class='flex items-center gap-4 lg:flex-row-reverse'>
            <a class='bg-sky-600 text-sky-50 font-semibold p-4 cursor-pointer rounded-sm hover:bg-primary-700 hover:transition-all'
              >Obtener Presupuesto</a
            >
            <Menu className='flex size-12 cursor-pointer text-primary-600 lg:hidden hover:text-primary-700' />
          </div>
        </div>
      </header>

      <slot />

      <footer class='py-6 w-full px-4 md:px-6 border-t border-zinc-300 bg-zinc-900 text-zinc-50'>
        <div class='container mx-auto flex flex-col gap-2 sm:flex-row shrink-0 items-center'>
          <p class='text-xs text-zinc-400'>© 2024 Novoforma. Todos los derechos reservados.</p>
          <nav class='sm:ml-auto flex gap-4 sm:gap-6'>
            <a
              class='text-xs hover:underline underline-offset-4 text-zinc-400 hover:text-primary-500'
              href='#'
            >
              Términos de Servicio
            </a>
            <a
              class='text-xs hover:underline underline-offset-4 text-zinc-400 hover:text-primary-500'
              href='#'
            >
              Privacidad
            </a>
          </nav>
        </div>
      </footer>
    </div>
  </body>
</html>
